<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.kccistc.spring.mapper.chatMapper">

<select id="chatListAll" resultType="ChatRoomVO">
select
	ChatRoomid, title, userId, openTime
from 
	chatRoomTable 
</select>

<insert id="createRoom">
insert into chatRoomTable
values (NULL, title, userId, NOW())
</insert>

<insert id="msgSend">
insert into messageTable
values (senderId, content, sendTime, ChatRId)
</insert>

</mapper>